Match_MacOs/dist/algorithm_input/*.csv
Match_MacOs/dist/algorithm_output/*.csv


Match_MacOs/match.py

Match_Windows_64/dist/algorithm_input/*.csv
Match_Windows_64/dist/algorithm_output/*.csv


Match_Windows_64/match.py


Match_Windows_32/dist/algorithm_input/*.csv
Match_Windows_32/dist/algorithm_output/*.csv


Match_Windows_32/match.py